[submodule "ethrelay/ethashproof"]
	path = ethrelay/ethashproof
	url = https://github.com/nearprotocol/ethashproof.git
	branch = near/relay/rlpheader-arg
[submodule "services/lib/eth-relay/ethashproof"]
	path = services/lib/eth-relay/ethashproof
	url = https://github.com/nearprotocol/ethashproof
[submodule "services/vendor/ethashproof"]
	path = services/vendor/ethashproof
	url = https://github.com/nearprotocol/ethashproof
