dist: bionic
branches:
  only:
    - master
os:
  - linux
  - osx
language: rust
rust:
  - stable
  - beta
  - nightly
install:
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.2/install.sh | bash
  - nvm install 14
  - nvm use 14
  - node --version
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
  - yarn --version
script:
  - cargo --version # explictitly overwrite to avoid travis run cargo test on root dir
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
  include:
    - script: ci/test_verify_eth_headers.sh
    - script: ci/test_verify_eth_proofs.sh
    - script:
      - cd libs-rs
      - eth-client/test.sh
    - script:
      - cd libs-rs
      - eth-prover/test.sh
    - script:
      - cd libs-rs
      - fungible-token/test.sh
    - script:
      - cd libs-rs
      - ./build-all.sh
    - language: node_js
      node_js: 14
      script:
      - cd environment
      - yarn
      - yarn run lint
    - language: node_js
      node_js: 14
      script:
      - cd libs-sol
      - build_all.sh
    