[package]
name = "eth2_to_near_relay"
version = "0.1.0"
edition = "2021"

[dependencies]
types =  { git = "https://github.com/sigp/lighthouse", tag = "v2.3.1" }
tree_hash = { git = "https://github.com/sigp/lighthouse",  tag = "v2.3.1" }
merkle_proof = { git = "https://github.com/sigp/lighthouse", tag = "v2.3.1" }
serde_json = "1.0.74"
serde = { version = "1.0", features = ["derive"] }
eth2_hashing = { git = "https://github.com/sigp/lighthouse", tag = "v2.3.1" }
ethereum-types = "0.12.1"
reqwest = { version = "0.11", features = ["blocking"] }
eth-types = { path = "../../contracts/near/eth-types/" }
clap = { version = "3.1.6", features = ["derive"] }
tokio = { version = "1.1", features = ["rt", "macros"] }
env_logger = "0.9.0"
borsh = "0.9.3"
near-sdk = "4.0.0"
futures = "0.3.21"
async-std = "1.12.0"

near-jsonrpc-client = "0.4.0-beta.0"
near-crypto = "0.14.0"
near-primitives = "0.14.0"
near-chain-configs = "0.14.0"
near-jsonrpc-primitives = "0.14.0"

[patch]
[patch.crates-io]
eth2_ssz = { git = "https://github.com/sigp/lighthouse", tag = "v2.3.1" }
eth2_ssz_types = { git = "https://github.com/sigp/lighthouse", tag = "v2.3.1" }
eth2_hashing = { git = "https://github.com/sigp/lighthouse", tag = "v2.3.1" }
tree_hash = { git = "https://github.com/sigp/lighthouse", tag = "v2.3.1" }
eth2_serde_utils = { git = "https://github.com/sigp/lighthouse", tag = "v2.3.1" }