[package]
name = "eth-client"
version = "0.1.0"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
eth-types =  { path = "../eth-types" }
near-sdk = "4.0.0-pre.7"
borsh = "0.9.3"
wee_alloc = { version = "0.4.5", default-features = false, features = [] }
rlp = "0.4.2"
futures = "0.1.26"
primal = "0.2.3"
arrutil = "0.1.2"
ethash = { git = "https://github.com/nearprotocol/rust-ethash" }
hex = "0.4.0"
rustc-hex = "2.1.0"
near-plugins = { git = "https://github.com/aurora-is-near/near-plugins", rev="b095f1f1" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
# serde's Serialize and Deserialize traits are required for `near_bindgen` macro for non-wasm32 targets
serde = { version = "1.0", features = ["derive"] }

[dev-dependencies]
web3 = "0.8.0"
lazy_static = "1.4.0"
serde_json = "1.0"
indicatif = "0.14"

[features]
default = ["eip1559"]
expensive_tests = []
eip1559 = ["eth-types/eip1559"]
