[workspace]
members = [
    "eth-client",
    "eth-prover",
    "eth-types",
    "admin-controlled"
]

[profile.release]
codegen-units = 1
# Tell `rustc` to optimize for small code size.
opt-level = "z"
lto = true
debug = false
panic = "abort"
overflow-checks = true
