on:
  push:
    branches:
      - master
      - the-merge
  pull_request:
name: Lint
jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
        with:
          lfs: 'true'
      - name: Lint
        run: |
          yarn
          yarn standard
          yarn prettier-solidity
